# Problem Statement 1:
Is gender independent of education level? A random sample of 395 people were
surveyed and each person was asked to report the highest education level they
obtained. The data that resulted from the survey is summarized in the following table:

Female : 

High School=60

Bachelors=54

Masters = 46 

Ph.d.= 41 

Total=201

Male:

High School= 40 

Bachelors=44 

Masters = 53

Ph.d.= 57

Total=194

Total_High School=100

Total_Bachelors = 99 

Total_Masters = 98 

Total_Ph.d.=395

Question: Are gender and education level dependent at 5% level of significance? In
other words, given the data collected above, is there a relationship between the
gender of an individual and the level of education that they have obtained?

In [4]:
import numpy as np
import pandas as pd
import math

In [48]:
dict = {'High_School':[60,40],'Bachelors':[54,44],'Masters':[46,53], 'Ph.d.':[41,57] ,'Total':[201,194]}

In [49]:
lst=[100 ,98 ,99 ,98,395]

In [50]:
df = pd.DataFrame(dict,index=['Female','Male'])
df

        High_School  Bachelors  Masters  Ph.d.  Total
Female           60         54       46     41    201
Male             40         44       53     57    194

In [51]:
df1 = pd.DataFrame(lst,columns=['TOTAL'],index=['High_School', 'Bachelors', 'Masters' ,'Ph.d.','Total']).T
df1

       High_School  Bachelors  Masters  Ph.d.  Total
TOTAL          100         98       99     98    395

In [97]:
Observed_table = pd.concat([df,df1],0)
Observed_table

        High_School  Bachelors  Masters  Ph.d.  Total
Female           60         54       46     41    201
Male             40         44       53     57    194
TOTAL           100         98       99     98    395

In [98]:
E_Hf=(201+100)/6
E_Bf=(201+98)/6
E_Mf=(201+99)/6
E_Pf=(201+98)/6
E_Hm=(194+100)/6
E_Bm=(194+99)/6
E_Mm=(194+98)/6
E_Pm=(194+98)/6
lst1=[E_Hf,E_Hm,E_Bf,E_Bm,E_Mf,E_Mm,E_Pf,E_Pm]
print(lst1,end='')

[50.166666666666664, 49.0, 49.833333333333336, 48.833333333333336, 50.0, 48.666666666666664, 49.833333333333336, 48.666666666666664]

E_Hf=50.16  E_Hm=49

E_Bf=49.833 E_Bm=48.833

E_Mf=50 E_Mm=48.66

E_Pf=49.833 E_Pm=48.66

In [99]:
dict1 = {'High_School':[50.16,49],'Bachelors':[49.833,48.833],'Masters':[50,48.66], 'Ph.d.':[49.833,48.666] ,'Total':[201,194]}

In [100]:
Expectation_table = pd.DataFrame(dict1,index=['Female','Male'])
Expectation_table

        High_School  Bachelors  Masters   Ph.d.  Total
Female        50.16     49.833    50.00  49.833    201
Male          49.00     48.833    48.66  48.666    194

So, deg_of freedom = (4-1)=3

chi(3,0.05)=7.815

In [63]:
O=[60,54,46,41,40,44,53,57]
E=[50.16,49.833,50,49.833,49,48.833,48.66,48.666]
def Relation_gender(O,E,ch=1):
    chi=0
    for i in range(len(O)):
        chi = chi + (O[i]-E[i])**2/E[i]
    if chi < ch:
        print("Null Hypothesis is accepted... ")
        print("so,the education level doesn't depends on gender." )
    else:
        print("Null Hypothesis is rejected...")
        print("so,the education level does depends on gender." )
    return round(chi,3)

In [64]:
Relation_gender(O,E,ch=7.815)

Null Hypothesis is rejected...
so,the education level does depends on gender.

8.11

# Problem Statement 2:
Using the following data, perform a oneway analysis of variance using α=.05. Write
up the results in APA format.

[Group1: 51, 45, 33, 45, 67]

[Group2: 23, 43, 23, 43, 45]

[Group3: 56, 76, 74, 87, 56]

In [67]:
import statistics as st

**Here total no. sample, k = 3 & total no. of data, n = len(Group1)+len(Group2)+len(Group3) = 15

In [68]:
Group1=[51, 45, 33, 45, 67]

Group2=[23, 43, 23, 43, 45]

Group3=[56, 76, 74, 87, 56]
Group = [Group1,Group2,Group3]
k = len(Group)
n = len(Group1)+len(Group2)+len(Group3)

In [75]:
def sample(Group):
    mean = st.mean(Group)
    p=0
    for i in Group:
        p = p + (i-mean)**2
    return mean,p

m1,p1 = sample(Group1)
m2,p2 = sample(Group2)
m3,p3 = sample(Group3)


#make another two lists of mean for each data-sets and SSw for each data-sets
lst1 = [m1,m2,m3]
lst2 = [p1,p2,p3]

In [76]:
def mean_between(lst=lst1):
    grand_mean = round(st.mean(lst),3)
    SSf = 0
    for i in range(k):
        SSf = SSf + len(Group[i])*(lst[i]- grand_mean)**2
    MUf = SSf/(k-1)
    return round(MUf,2)

muf = mean_between(lst=lst1)

In [77]:
def mean_within(lst=lst2):
    SSw = np.sum(lst)
    MUw = SSw/(n-k)
    return round(MUw,2)

muw = mean_within(lst=lst2)

Here asuming significance level = 0.05, and degree of freedom = (n-k) = (15-3) = 12 for data & for sample = (3-1) = 2, we will get FScore = 3.88

In [78]:
def anova_test(muf,muw,f=3.88):
    F_score = muf/muw
    if F_score < f :
        print("Null Hypothesis is accepted...")
        print("So, data-sets are similar...")
    else:
        print("Null Hypothesis is rejected...")
        print("So, data-sets are not similar...")
    return round(F_score,2)

In [81]:
anova_test(muf,muw,f=3.88)

Null Hypothesis is rejected...
So, data-sets are not similar...

9.75

# Problem Statement 3:
Calculate F Test for given 10, 20, 30, 40, 50 and 5,10,15, 20, 25.
For 10, 20, 30, 40, 50:

A=[10, 20, 30, 40, 50]

B=[5,10,15, 20, 25]

C=[10, 20, 30, 40, 50]

**Here total no. sample, k = 3 & total no. of data, n = len(A)+len(B)+len(C) = 15

In [85]:
A=[10, 20, 30, 40, 50]

B=[5,10,15, 20, 25]

C=[10, 20, 30, 40, 50]

D = [A,B,C]
k = len(D)
n = len(A)+len(B)+len(C)

In [92]:
def sample(D):
    mean = st.mean(D)
    p=0
    for i in D:
        p = p + (i-mean)**2
    return mean,p

m1,p1 = sample(A)
m2,p2 = sample(B)
m3,p3 = sample(C)


#make another two lists of mean for each data-sets and SSw for each data-sets
lst1 = [m1,m2,m3]
lst2 = [p1,p2,p3]

In [93]:
def mean_between(lst=lst1):
    grand_mean = round(st.mean(lst),3)
    SSf = 0
    for i in range(k):
        SSf = SSf + len(Group[i])*(lst[i]- grand_mean)**2
    MUf = SSf/(k-1)
    return round(MUf,2)

muf = mean_between(lst=lst1)

In [94]:
def mean_within(lst=lst2):
    SSw = np.sum(lst)
    MUw = SSw/(n-k)
    return round(MUw,2)

muw = mean_within(lst=lst2)

Here asuming significance level = 0.05, and degree of freedom = (n-k) = (15-3) = 12 for data & for sample = (3-1) = 2, we will get FScore = 3.88

In [95]:
def anova_test(muf,muw,f=3.88):
    F_score = muf/muw
    if F_score < f :
        print("Null Hypothesis is accepted...")
        print("So, data-sets are similar...")
    else:
        print("Null Hypothesis is rejected...")
        print("So, data-sets are not similar...")
    return round(F_score,2)

In [96]:
anova_test(muf,muw,f=3.88)

Null Hypothesis is accepted...
So, data-sets are similar...

2.0